<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16461124774-jhae3pf8foc1ork2qpps8a7epsqqpmku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16461124774-jhae3pf8foc1ork2qpps8a7epsqqpmku</string>
	<key>API_KEY</key>
	<string>AIzaSyBwn82XbDCP7wLFtXaPr_sAPiGBTcjjXbM</string>
	<key>GCM_SENDER_ID</key>
	<string>16461124774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qaramurttaxi</string>
	<key>PROJECT_ID</key>
	<string>qaramurt-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>qaramurt-taxi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16461124774:ios:a045bfdc4aefc81f521067</string>
</dict>
</plist>